name = "blog-backend"
compatibility_date = "2024-07-01"

[vars]
DATABASE_URL = "Prisma accelerate db url here"
JWT_SECRET = "secretKeyHere"
CLOUD_NAME = "cloudinary cloud name here"
UPLOAD_PRESET_NAME = "unsigned cloudinary upload preset name"

# [[kv_namespaces]]
# binding = "MY_KV_NAMESPACE"
# id = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# [[r2_buckets]]
# binding = "MY_BUCKET"
# bucket_name = "my-bucket"

# [[d1_databases]]
# binding = "DB"
# database_name = "my-database"
# database_id = ""

# [ai]
# binding = "AI"